<script type="text/javascript">
	$(function () {
 		$('[data-toggle="tooltip_search"]').tooltip();
	})
</script>

<div id="browser" class="col-sm-12" ng-controller="SearchAndBrowseCtrl">
	<h2>Browse database</h2>
	<div id="quick_search_div" class="row">

		<div class="col-xs-12 col-sm-3">
			<span class="glyphicon glyphicon-search"></span>
			<input type="text" ng-model="quick_search" placeholder="Search..." data-toggle="tooltip_search" data-placement="top" title="Search by protein name, species or entry ID">
		</div>
		<div id="select_category_dropdown" class="col-xs-12 col-sm-2">
			<span class="glyphicon glyphicon-th-list"></span>
			<span class="dropdown">
		        <span class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		            <span ng-if="search_category">{{search_category}}</span>
		            <span ng-if="!search_category">Select a category</span>
		            <span class="caret"></span>
		        </span>
		        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		            <li ng-click="selectCategory('')">Any category</li>
		            <li ng-click="selectCategory('Pathogenic')" data-toggle="tooltips" data-placement="top" title="In pathogenic amyloids the amyloid state is responsible for known diseases">Pathogenic</li>
		            <li ng-click="selectCategory('Functional amyloid')" data-toggle="tooltips" data-placement="top" title="In functional amyloids the amyloid state confers well-described functional benefits to the organism">Functional amyloid</li>
		            <li ng-click="selectCategory('Functional prion')" data-toggle="tooltips" data-placement="top" title="In functional prions the self-propagating prion form confers functional benefits to the organism">Functional prion</li>
		            <li ng-click="selectCategory('Not known')" data-toggle="tooltips" data-placement="top" title="Unknown: The biological relevance of the amyloid state is yet to be elucidated">Unknown function</li>
		            <li ng-click="selectCategory('Biologically not relevant')" data-toggle="tooltips" data-placement="top" title="Biologically not relevant: The amyloid state was observed under conditions whose biological relevance is questionable">Biologically not relevant</li>
		        </ul>
	    	</span>
		</div>
		<div style="margin-top:3px" ng-click="setMutants()" class="col-xs-12 col-sm-2">
			<span ng-if="mutantFilter">
				<span class="glyphicon glyphicon-eye-open"></span>
				<strong>Mutations</strong>
			</span>
			<span ng-if="!mutantFilter">
				<span class="glyphicon glyphicon-th-list"></span>
				Mutations
			</span>
		</div>
		<div style="margin-top:3px" ng-click="setPrions()" class="col-xs-12 col-sm-2">
			<span ng-if="prionFilter">
				<span class="glyphicon glyphicon-eye-open"></span>
				<strong>Prions</strong>
			</span>
			<span ng-if="!prionFilter">
				<span class="glyphicon glyphicon-th-list"></span>
				Prions
			</span>
		</div>
		<div ng-if="unique_entry_ids_to_download.length > 0" class="col-xs-12 col-sm-3">
			<span class="glyphicon glyphicon-download-alt"></span>
			<button ui-sref="app.entry({entry_list: unique_entry_ids_to_download})" id="multi_download_button" class="btn btn-default" >Download selected (JSON)</button>
		</div>
		
	</div>

	<p><strong>Selected entries:</strong>
		<button class="btn btn-default" ng-repeat="entry in unique_entry_ids_to_download" ng-click="checkBoxChange(entry)">
			{{entry}} <span class="glyphicon glyphicon-remove"></span>
		</button> 
	</p>

	<table class="table">
		<tr>
			<th><span class="glyphicon glyphicon-download-alt"></span></th>
			<th nowrap ng-click="sortByEntry()" ng-if="a2z_entry">
				Entry ID <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
			</th>
			<th nowrap ng-click="sortByEntry()" ng-if="!a2z_entry">
				Entry ID <span class="glyphicon glyphicon-sort-by-alphabet"></span>
			</th>

			<th nowrap ng-click="sortByProtein()" ng-if="a2z_protein">
				Protein name <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
			</th>
			<th nowrap ng-click="sortByProtein()" ng-if="!a2z_protein">
				Protein name <span class="glyphicon glyphicon-sort-by-alphabet"></span>
			</th>

			<th nowrap ng-click="sortByCategory()" ng-if="a2z_category">
				Category <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
			</th>
			<th nowrap ng-click="sortByCategory()" ng-if="!a2z_category">
				Category <span class="glyphicon glyphicon-sort-by-alphabet"></span>
			</th>

			<th nowrap ng-click="sortBySpecies()" ng-if="a2z_species">
				Species <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
			</th>

			<th nowrap ng-click="sortBySpecies()" ng-if="!a2z_species">
				Species <span class="glyphicon glyphicon-sort-by-alphabet"></span>
			</th>
		</tr>
		<tr ng-repeat="entry in browsable_entries | orderBy: sorting_option | filter: quick_search | filter: {class_name: search_category} | filter: mutantFilter | filter: prionFilter">
			<td ng-if="!isEntrySelected(entry.entry_id)"><span class="btn btn-default glyphicon glyphicon-plus" ng-click="checkBoxChange(entry.entry_id)"></span></td>

			<td ng-if="isEntrySelected(entry.entry_id)"><span class="btn btn-success glyphicon glyphicon-ok" ng-click="checkBoxChange(entry.entry_id)"></span></td>

			<td ui-sref="app.entries({entry_id: entry.entry_id})">{{entry.entry_id}}</td>

			<td ui-sref="app.entries({entry_id: entry.entry_id})"><span class="btn btn-warning glyphicon glyphicon-eye-open"></span> <strong>{{entry.protein_name}}</strong></td>

			<td ui-sref="app.entries({entry_id: entry.entry_id})">{{entry.class_name}}</td>

			<td ui-sref="app.entries({entry_id: entry.entry_id})">{{entry.species}}</td>

		</tr>
	</table>
</div>