<div id="entries" ng-controller="EntryCtrl" class="col-sm-12">

    <!-- Show error message if invalid accession id -->
    <div class="alert alert-danger" ng-if="message">{{message}}</div>

    <!-- Main entry block -->
    <div ng-if="entry">
        <script type="text/javascript">
            $(function () {
                $('#header_class_label').tooltip();
                $('#header_mutant_label').tooltip();
            })
        </script>


        <!-- Summary box -->
        <div class="well">
            <h2>
                {{entry.entry_id}}: {{entry.protein_name}} <span ng-if="entry.ISA_amyloid_name">({{entry.ISA_amyloid_name}})</span>
                <p ng-init="setLabel(entry.class_name)" class="{{label}}" id="header_class_label" data-toggle="tooltips"
                   data-placement="bottom" title="{{category_tooltip}}">
                    {{entry.class_name}}
                </p>&nbsp;
                <p ng-if="entry.prion_domain" class="label label-default">prion domain</p>
                <p ng-if="!entry.wild_type_amyloidogenic" id="header_mutant_label" class="label label-default"
                   data-toggle="tooltips" data-placement="bottom"
                   title="Only the mutant form has been observed to form amyloids">mutant only</p>
            </h2>
            <div style="padding-bottom:10px;">
                <a class="btn btn-default" href="data/entries/{{entry.entry_id}}.txt">
                    <span class="glyphicon glyphicon-floppy-disk"></span> TXT format
                </a>
                <a class="btn btn-default" href="data/entries/{{entry.entry_id}}.fasta">
                    <span class="glyphicon glyphicon-floppy-disk"></span> FASTA format
                </a>
                <a class="btn btn-default" href="data/entries/{{entry.entry_id}}.json">
                    <span class="glyphicon glyphicon-floppy-disk"></span> JSON format
                </a>
            </div>

            <div style="padding-bottom:10px;">
                <table>
                    <tr>
                        <td>Species:</td>
                        <td><em>{{entry.species}}</em> {{getCommonName(entry.species)}}</td>
                    </tr>
                    <tr ng-if="entry.ISA_amyloid_name">
                        <td>Recommended ISA amyloid name:</td>
                        <td>{{entry.ISA_amyloid_name}}</td>
                    </tr>
                    <tr ng-if="entry.alternative_names.length > 0">
                        <td>Alternative names:</td>
                        <td>
							<span ng-repeat="alt_name in entry.alternative_names track by $index">
								{{alt_name}}<span
                                    ng-if="check_if_need_comma($index, entry.alternative_names.length)">, </span>
							</span>
                        </td>
                    </tr>
                    <tr ng-if="entry.parent_protein">
                        <td>Parent protein:</td>
                        <td>{{entry.parent_protein}}</td>
                    </tr>
                    <tr ng-if="entry.parent_protein_names.length > 0">
                        <td>Parent protein alternative names:</td>
                        <td>
                            <span ng-repeat="parent_alt_name in entry.parent_protein_names track by $index">
                                {{parent_alt_name}}<span
                                    ng-if="check_if_need_comma($index, entry.parent_protein_names.length)">, </span>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>

            <div ng-repeat="pubmed_id in entry.references">
                <span ng-init="add_pubmed_entry(pubmed_id)"></span>
            </div>
            <h4>References:</h4>
            <div id="publications-div">
                <div ng-if="!got_pubmed">
                    <span ng-repeat="pubmed_id in entry.references">
                        <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{pubmed_id}}" target="_blank"><span
                                class="glyphicon glyphicon-new-window"></span> PMID{{pubmed_id}} </a>
                    </span>
                </div>
                <div ng-if="got_pubmed">
					<span ng-repeat="pubmed_entry in pubmed_entries">
					<a href="https://www.ncbi.nlm.nih.gov/pubmed/{{pubmed_entry.pmid}}" target="_blank"><span
                            class="glyphicon glyphicon-new-window"></span> PMID{{pubmed_entry.pmid}}</a>
					<strong>{{pubmed_entry.title}}</strong><br>
					{{pubmed_entry.source}}; {{pubmed_entry.names}} {{pubmed_entry.pubdate}}
					<br><br>
					</span>
                </div>
            </div>
        </div>

        <div style="text-align:justify;padding-bottom:15px;">
            <h4>Entry description: </h4>
            <p>
                {{entry.description}}
                <span ng-if="!entry.wild_type_amyloidogenic" class="label label-default">Only the mutant form has been observed to form amyloids</span>
            </p>
            <p ng-if="entry.uniprot_description">
                Description from related UniProt entry <a href="http://www.uniprot.org/uniprot/{{entry.uniprot_id}}"
                                                          target="_blank">
                <span>{{entry.uniprot_id}} </span>
                <span class="glyphicon glyphicon-new-window"></span>
            </a>:
                {{entry.uniprot_description}}
            </p>
        </div>

        <div style="text-align:justify;padding-bottom:15px;">
            <h4>Entry classification: </h4>
            <p>
                <span class="{{label}}" style="font-size:1.1em">{{entry.class_name}}</span> {{category_tooltip}}
            </p>
        </div>

        <div ng-if="entry.experimental_techniques.length > 0" style="text-align:justify;padding-bottom:15px;">
            <h4>Experimental techniques: </h4>
            <p>
                    <span ng-repeat="exp in entry.experimental_techniques track by $index">
                        {{exp}}<span ng-if="check_if_need_comma($index, entry.experimental_techniques.length)">, </span>
                    </span>
            </p>
        </div>

        <div style="text-align:justify;padding-bottom:15px;">
            <span ng-init="createSequenceList(entry.sequence, entry.regions)"></span>
            <h4>
                Investigated protein sequence
                <span ng-if="entry.uniprot_id">(
                    <span ng-if="entry.uniprot_start">residues {{entry.uniprot_start}} to {{entry.uniprot_end}} of </span>
                    UniProt sequence 
                    <a href="http://www.uniprot.org/uniprot/{{entry.uniprot_id}}" target="_blank">
                        <span id="ng_unpid">{{entry.uniprot_id}} </span>
                        <span class="glyphicon glyphicon-new-window"></span> 
                    </a>)
                </span>:
            </h4>
            <p>
				<span ng-repeat="residue in sequenceRegions">
					<span ng-if="residue.flag" class="{{label}}" data-toggle="tooltips" data-placement="top"
                          title="{{entry.class_name}}">{{residue.residue}}</span>
					<span ng-if="!residue.flag">{{residue.residue}}</span>
				</span>
            </p>
        </div>


        <!-- Data from UniProt -->
        <div id="uniprot_related_info">
            <div style="padding-bottom:15px;">
                <h4 ng-if="entry.regions.length > 0">
                    Amyloid forming regions<span ng-if="entry.wild_type_amyloidogenic"> (validated in their wild-type forms)</span>:
                </h4>
                <h4 ng-if="!entry.regions.length > 0">
                    Amyloid-forming regions are not yet defined
                </h4>
                <table ng-if="entry.regions.length > 0" class="table">
                    <tr>
                        <td>AmyPro numbering</td>
                        <td ng-if="entry.uniprot_id">UniProt numbering</td>
                        <td>Sequence</td>
                        <td>References</td>
                    </tr>
                    <tr ng-repeat="region in entry.regions" style="word-break: break-all;">
                        <td>{{region.region_start}} - {{region.region_end}}</td>
                        <td ng-if="entry.uniprot_id">{{addIndex(region.region_start, entry.uniprot_start)}} -
                            {{addIndex(region.region_end, entry.uniprot_start)}}
                        </td>
                        <td>{{region.region_sequence}}</td>
                        <td>
                            <span ng-if="region.references.length > 0">
                                <span ng-repeat="ref in region.references"><a
                                        href="https://www.ncbi.nlm.nih.gov/pubmed/{{ref}}" target="_blank"> PMID{{ref}} <span
                                        class="glyphicon glyphicon-new-window"></span></a></span>
                            </span>
                        </td>
                    </tr>
                </table>
                <div ng-if="entry.mutations.length > 0">
                    <h4>Mutations compared to sequence in UniProt (<a
                            href="https://www.ebi.ac.uk/pdbe/entry/pdb/{{entry.pdb_id}}" target="_blank">{{entry.uniprot_id}}</a>)
                        with residue numbering of the AmyPro sequence:</h4>
                    <p ng-repeat="mutation in entry.mutations">{{mutation}}</p>
                </div>
            </div>

            <div ng-if="entry.uniprot_id">
                <h4>Sequence features and annotations:
                    <a class="btn btn-info" onclick="initUniprotViewer()"><strong><span
                            class="glyphicon glyphicon-eye-open"></span> Click to load Feature Viewer</strong></a>
                </h4>
                <script src="https://ebi-uniprot.github.io/CDN/protvista/protvista.js"></script>
                <link href="https://ebi-uniprot.github.io/CDN/protvista/css/main.css" rel="stylesheet"/>

                <div id='unpViewer' style="padding-bottom:15px;"></div>
            </div>

            <script>
                initUniprotViewer = function () {
                    var uniprot_id = $('#ng_unpid').scope().entry.uniprot_id;
                    var unpViewer = document.getElementById('unpViewer');
                    var ProtVista = require('ProtVista');
                    var instance = new ProtVista({
                        el: unpViewer,
                        uniprotacc: uniprot_id,
                        exclusions: ['SEQUENCE_INFORMATION', 'TOPOLOGY', 'PROTEOMICS', 'ANTIGEN'],
                        customDataSource: {
                            url: 'data/json_for_viewer/',
                            source: 'myLab',
                            useExtension: true
                        },
                        categoryOrder: ['AMYPRO', 'MOLECULE_PROCESSING', 'DOMAINS_AND_SITES', 'STRUCTURAL', 'PTM', 'MUTAGENESIS']
                    });
                    $(".btn-info").hide();
                }
            </script>
        </div>
        <!-- End of UniProt data -->
        <!-- PDB data -->
        <div ng-if="has_related_pdb">
            <h4 ng-if="representative_soluble || representative_fibrillar || representative_segment">Representative
                structure(s):</h4>
            <div class="row">
                <div ng-if="representative_soluble" class="col-sm-6" style="text-align:center">
                    <img ng-src="images/regions/{{representative_soluble}}.png">
                    <h6>Soluble form <span ng-if="entry.mutations.length > 0">(mutations not present)</span> ( <a
                            class='pdb-links' pdb-id={{representative_soluble}} href='javascript:void(0);'>{{representative_soluble}}
                        <span class="glyphicon glyphicon-new-window"></span></a> )</h6>
                </div>
                <div ng-if="representative_segment" class="col-sm-6" style="text-align:center">
                    <img ng-src="images/regions/{{representative_segment}}.png">
                    <h6>Soluble segment <span ng-if="entry.mutations.length > 0">(mutations not present)</span> ( <a
                            class='pdb-links' pdb-id={{representative_segment}} href='javascript:void(0);'>{{representative_segment}}
                        <span class="glyphicon glyphicon-new-window"></span></a> )</h6>
                </div>
                <div ng-if="representative_fibrillar" class="col-sm-6" style="text-align:center">
                    <img ng-src="images/regions/{{representative_fibrillar}}.png">
                    <h6>Fibrillar form ( <a class='pdb-links' pdb-id={{representative_fibrillar}}
                                            href='javascript:void(0);'>{{representative_fibrillar}} <span
                            class="glyphicon glyphicon-new-window"></span></a> )</h6>
                </div>
            </div>
            <table>
                <h4>Related structures:</h4>
                <tr ng-if="entry.pdbs.fibrillar.length > 0">
                    <td><strong>Fibrillar: </strong></td>
                    <td>
						<span ng-repeat="pdbid in entry.pdbs.fibrillar">
							<a class='pdb-links' pdb-id={{pdbid}} href='javascript:void(0);'>{{pdbid}} <span
                                    class="glyphicon glyphicon-new-window"></span></a>
						</span>
                    </td>
                </tr>
                <tr ng-if="entry.pdbs.precursor.length > 0">
                    <td><strong>Precursor: </strong></td>
                    <td>
						<span ng-repeat="pdbid in entry.pdbs.precursor">
							<a class='pdb-links' pdb-id={{pdbid}} href='javascript:void(0);'>{{pdbid}} <span
                                    class="glyphicon glyphicon-new-window"></span></a>
						</span>
                    </td>
                </tr>
                <tr ng-if="entry.pdbs.soluble.sol_wildt.length > 0">
                    <td><strong>Soluble wild type: </strong></td>
                    <td>
						<span ng-repeat="pdbid in entry.pdbs.soluble.sol_wildt">
							<a class='pdb-links' pdb-id={{pdbid}} href='javascript:void(0);'>{{pdbid}} <span
                                    class="glyphicon glyphicon-new-window"></span></a>
						</span>
                    </td>
                </tr>
                <tr ng-if="entry.pdbs.soluble.sol_segment.length > 0">
                    <td><strong>Soluble segment: </strong></td>
                    <td>
						<span ng-repeat="pdbid in entry.pdbs.soluble.sol_segment">
							<a class='pdb-links' pdb-id={{pdbid}} href='javascript:void(0);'>{{pdbid}} <span
                                    class="glyphicon glyphicon-new-window"></span></a>
						</span>
                    </td>
                </tr>
                <tr ng-if="entry.pdbs.soluble.sol_mutant.length > 0">
                    <td><strong>Soluble mutant: </strong></td>
                    <td>
						<span ng-repeat="pdbid in entry.pdbs.soluble.sol_mutant">
							<a class='pdb-links' pdb-id={{pdbid}} href='javascript:void(0);'>{{pdbid}} <span
                                    class="glyphicon glyphicon-new-window"></span></a>
						</span>
                    </td>
                </tr>
                <tr ng-if="entry.pdbs.soluble.sol_complex.length > 0">
                    <td><strong>Soluble complex: </strong></td>
                    <td>
						<span ng-repeat="pdbid in entry.pdbs.soluble.sol_complex">
							<a class='pdb-links' pdb-id={{pdbid}} href='javascript:void(0);'>{{pdbid}} <span
                                    class="glyphicon glyphicon-new-window"></span></a>
						</span>
                    </td>
                </tr>
            </table>
            <br>
            <strong>Complete coverage in PDB: </strong>
            <pdb-uniprot-viewer entry-id="{{entry.uniprot_id}}" height="480"></pdb-uniprot-viewer>
        </div>
    </div>
</div>