<div id="footer">
  <div class="container">
    <h6>Developed and maintained by Mihaly Varadi <a href="mailto:mvaradi@ebi.ac.uk" target="_top"><span class="glyphicon glyphicon-envelope"></span></a> - last updated on 29th Oct 2018</h6>
  </div>
</div>