<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltips"]').tooltip();
  })
</script>

<div class="header">

  <nav class="navbar navbar-fixed-top" role="navigation">
    <a class="navbar-brand" ui-sref="app">AmyPro</a>
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a ui-sref="app.search"><span class="glyphicon glyphicon-search"></span> Search</a></li>
          <li><a ui-sref="app.browse"><span class="glyphicon glyphicon-list-alt"></span> Browse</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="data/amypro.txt">TEXT format</a></li>
              <li><a href="data/amypro.fasta">FASTA format</a></li>
              <li><a href="data/amypro.json">JSON format</a></li>
            </ul>
          </li>
          <li><a ui-sref="app.submit"><span class="glyphicon glyphicon-upload"></span> Submit</a></li>
          <li><a ui-sref="app.help"><span class="glyphicon glyphicon-info-sign"></span> Help</a></li>
          <li><a data-toggle="modal" data-target="#contactus">
            <span class="glyphicon glyphicon-envelope"></span> Contact</a>
          </li>
          <li><a ui-sref="app.stats"><span class="glyphicon glyphicon-signal"></span> Stats</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="contactus" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" data-toggle="tooltips" data-placement="right" title="Close">&times;</button>
          <h4 class="modal-title"><span class="glyphicon glyphicon-pencil"></span> Contact us</h4>
        </div>
        <div class="modal-body">
        <form action="contact.php" method="post" class="form-horizontal">
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <h4>Feel free to contact us!</h4>
              <p>If you have any questions or suggestions regarding the database, the content or the submission procedure, please contact us using this form.</p>
            </div>
            <div class="col-xs-12 col-sm-7">
              <div class="col-xs-12">
                <div class="input-group">
                  <input type="text" name="contact_name" value="" placeholder="Your name..." required class="form-control" />
                  <div class="input-group-addon"><span class="glyphicon glyphicon-user" data-dismiss="modal" data-toggle="tooltips" data-placement="left" title="Please type your name"></span></div>
                </div>
                <div class="input-group">
                  <input type="email" name="contact_email" value="" placeholder="Your email..." required class="form-control" />
                  <div class="input-group-addon"><span class="glyphicon glyphicon-envelope" data-dismiss="modal" data-toggle="tooltips" data-placement="left" title="Please type your email so we can reply"></span></div>
                </div>
              </div>
              <div class="col-xs-12">
                <textarea rows=5 name="contact_message" class="form-control" placeholder="Your message..." required></textarea>
              </div>
            </div>
            <div class="col-xs-12">
              <input type="submit" value="Send" class="form-control btn btn-warning">
            </div>

          </div>
          <input type="hidden" name="form_order" value="alpha"/>
          <input type="hidden" name="form_delivery" value="hourly_digest"/>
          <input type="hidden" name="form_format" value="html"/>
          <input type="hidden" name="subject" value="Submission" />
          <input type="hidden" name="redirect" value="amypro/index.html" />
        </form>
        </div>
      </div>
    </div>
  </div>

</div>
