	<div id="doc_welcome" class="row marketing">
		<div class="col-xs-12">
			<h1>Documentation</h1>

			<h4>Welcome to <strong>AmyPro</strong>, an <strong>openly available database</strong> presenting comprehensive, up-to-date,
            carefully <strong>curated data</strong> of amyloid fibre-forming proteins classified
            into broad functional categories.</h4>

            <h3 id="overview">AmyPro provides:</h3>
            <ul>
            	<li><strong>Amyloid forming regions</strong></li>
            	<li>Classification (pathogenic, functional amyloid, functional prion, not known and biologically not relevant)</li>
            	<li>Protein names, sequences, mutations</li>
            	<li>Cross references to other resources (UniProt, PDB, PubMed)</li>
            	<li>Data visualization</li>
            </ul>
		</div>
	</div>

	<div id="doc_biology" class="row marketing">
		<div class="col-xs-12">
			<h2>A few words on the biology</h2>
			<p style="text-align: justify">Proteins are crucial macromolecules mediating most cellular functions and the majority of them have
well-defined folded structures to serve these roles. If they fail to adopt or to remain in their native
structural states and misfold, they are prone to aggregate and form amyloid fibrils that are
associated with a number of degenerative human disorders such as type II diabetes, Huntington&#39;s
and Alzheimer&#39;s diseases and systemic amyloidosis. Amyloids are non-covalent oligomers of
extended, inter-molecularly hydrogen bonded beta-sheets that laterally self-assemble to yield insoluble,
twisted fibrils of 10 nm in diameter, in which they are orientated perpendicular to the fibril axis. This
is why the amyloid fold is often referred to as a cross beta-sheet fold. Interestingly, multiple recent lines
of evidence suggest that the amyloid state can also be beneficial for different functional purposes,
such as bacterial and fungal biofilm formation, antimicrobial activity, the storage of peptide
hormones and the formation of the zona pellucida for the protection of mammalian and fish oocytes,
among others. Besides these functional benefits, another reason why aggregation and amyloid fibril
formation are maintained during evolution is that these regions are often part of the hydrophobic
core of these proteins, and are thus required for them to fold correctly. Although amyloids play a key
role in numerous important human diseases, the molecular mechanism, the effects of mutations and
changes in cellular milieu, the kinetics and the potential functional-evolutionary driving forces of
amyloid fibril formation are only sparsely understood.</p>

<p>AmyPro is a novel, carefully curated database of amyloid precursor proteins and their amyloidogenic
sequence regions that aims to provide an up-to- date view of the entire amyloid literature.</p>
		</div>
	</div>

	<div id="abbreviations" class="row marketing">
		<div class="col-xs-12">
			<h2>List of abbreviations</h2>
			<table class="table">
				<tr><td>MS</td><td>Mass spectrometry</td></tr>
				<tr><td>NMR</td><td>Nuclear magnetic resonance</td></tr>
				<tr><td>EM</td><td>Electron microscopy</td></tr>
				<tr><td>TEM</td><td>Transmission electron microscopy</td></tr>
				<tr><td>SEM</td><td>Scanning electron microscopy</td></tr>
				<tr><td>CD</td><td>Circular dichroism</td></tr>
				<tr><td>THT</td><td>Thioflavin T fluorescence</td></tr>
				<tr><td>AFM</td><td>Atomic force microscopy</td></tr>
				<tr><td>FTIR</td><td>Fourier-transform infrared spectroscopy</td></tr>
				<tr><td>ATR-FTIR</td><td>Attenuated total reflectance Fourier-transform infrared spectroscopy</td></tr>
				<tr><td>SDS</td><td>Sodium dodecyl sulfate</td></tr>
				<tr><td>DLS</td><td>Dynamic light scattering</td></tr>
				<tr><td>SPR</td><td>Surface plasmon resonance</td></tr>
				<tr><td>ANS</td><td>1-Anilinonaphthalene-8-sulfonic Acid</td></tr>
				<tr><td>MALLS</td><td>Multiangle light scattering</td></tr>
				<tr><td>CR</td><td>Congo red</td></tr>
				<tr><td>MD</td><td>Molecular dynamics</td></tr>
				<tr><td>SMFS</td><td>Single molecule force spectroscopy</td></tr>	
				<tr><td>ISA</td><td>International Society of Amyloidosis</td></tr>	
			</table>
		</div>
	</div>
    
	<div class="row marketing">
		<div class="col-xs-12">
			<h2>Functionality</h2>
			<div>
				<h3><span class="glyphicon glyphicon-list-alt"></span> Browsing</h3>
				<ul>
					<li><strong>Entries can be ordered</strong> in alphabetic order by clicking on the browsing table header</li>
					<li>Ordering can be ascending or descending</li>
					<li>The browsing table can be <strong>filtered by category</strong> ("Select a category" dropdown)</li>
					<li>The browsing table can be <strong>filtered using search terms</strong> ("Search" field)</li>
					<li>The list of entries can be filtered for sequences with mutations</li>
					<li>The list can also be filtered to return only entries with prion domains</li>
					<li>Clicking on a row in the browsing table <strong>displays the entry</strong> associated with it</li>
					<li><strong>Multiple entries can be displayed</strong> in text format by clicking on the plus signs on the <strong>left side</strong> of the rows</li>
				</ul>
			</div>
			<div>
				<h3><span class="glyphicon glyphicon-search"></span> Searching by terms</h3>
				<ul>
					<li>The database can be <strong>searched by protein name, gene name, alternative names, UniProt ID, species or keywords</strong></li>
					<li>AmyPro can be searched with terms such as "mutations" or "prion domain"</li>
					<li><strong>Entries can be ordered</strong> in alphabetic order by clicking on the search table header</li>
					<li>Ordering can be ascending or descending</li>
					<li>Search results can be further filtered by species and category</li>
					<li>Clicking on a row in the searching table <strong>displays the entry</strong> associated with it</li>
					<li><strong>Multiple entries can be displayed</strong> in text format by clicking on the plus signs on the <strong>left side</strong> of the rows</li>
				</ul>
			</div>
			<div>
				<h3><span class="glyphicon glyphicon-transfer"></span> Sequence matching</h3>
				<ul>
					<li>The database can be <strong>searched using an input protein sequence</strong></li>
					<li>Entries where identical amyloid forming regions can be found are returned as matches</li>
					<li>Clicking on a row in the searching table <strong>displays the entry</strong> associated with it</li>
				</ul>
			</div>
			<div>
				<h3><span class="glyphicon glyphicon-download"></span> Downloading</h3>
				<ul>
					<li>The <strong>complete database can be downloaded</strong> using the navigation menu button "Download"</li>
					<li><stong>TXT, JSON and FASTA</stong> formats are available</li>
					<li>Individual entries may also be downloaded from their respective entry pages</li>
					<li>These entries are also in TXT, JSON and FASTA formats</li>
					<li>Multiple entries selected from the "browsing" or "search" tables can be downloaded in TXT format</li>
				</ul>
			</div>
			<div>
				<h3><span class="glyphicon glyphicon-upload"></span> Submitting data</h3>
				<ul>
					<li><strong>We welcome submissions</strong> from the community!</li>
					<li>Data submission is available from the submission page ("Submit" button on the navigation menu)</li>
					<li>Data will be processed, curated, annotated and published</li>
				</ul>
			</div>
			<div>
				<h3><span class="glyphicon glyphicon-eye-open"></span> Entry pages</h3>
				<ul>
					<li>Entry pages show all the recorded information</li>
					<li>Protein name, alternative names, gene names, species</li>
					<li>Category (pathogenic, functional amyloid, functional prion, not known and biologically not relevant)</li>
					<li>UniProt ID, PDB ID, PubMed ID(s)</li>
					<li>Brief description of the entry</li>
					<li>Protein sequence, with amyloid forming regions highlighted</li>
					<li>Image of the structure of the protein, with the amyloid forming regions indicated - if a structure is available</li>
					<li>AmyPro regions overlaid to every known sequence feature from UniProt, using the 
						<a href="http://ebi-uniprot.github.io/ProtVista/" target="_blank">ProtVista app</a>
					</li>
					<li>
						The complete structual coverage of the associated sequence in the Protein Data Bank, using a 
						<a href="https://www.ebi.ac.uk/pdbe/pdb-component-library/doc.html" target="_blank">PDBe web component</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

    <div id="reference" class="row marketing">
        <div class="col-xs-12">
            <h3>Reference: </h3>
            <a href="https://doi.org/10.1093/nar/gkx950" target="_blank">AmyPro: a database of proteins with validated amyloidogenic regions</a>; 
            Mihaly Varadi, Greet De Baets, Wim F. Vranken, Peter Tompa and Rita Pancsa; Nucleic Acids Res. 2017 Oct 13                
        </div>
    </div>