<script>
function goBack() {
    window.history.back();
}

$(".btn-save").click( function() {
  var text = $("#raw_view").html();
  var blob = new Blob([text], {type: "text/plain;charset=utf-8"});
  saveAs(blob, "bulk_amypro.json");
});
</script>

<div id="raw_header">
    <button class="btn btn-save"><span class="glyphicon glyphicon-download"></span> Download</button>
	<button class="btn btn-default" onclick="goBack()"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
	<hr>
</div>

<div id="raw_view" ng-controller="RawCtrl">
{{entries | json}}
</div>
