<script type="text/javascript">
	$(function () {
 		$('[data-toggle="tooltips"]').tooltip();
	})
</script>

<div id="sequence_search" ng-controller="SearchAndBrowseCtrl" class="col-sm-12">
	<h2>Search by protein sequence
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltips" data-placement="right" title="Search for known amyloid forming regions in your sequence"></span>
	</h2>

	<textarea ng-model="user_sequence"></textarea>

	<button class="btn btn-warning" ng-click="search_sequence_match()" data-toggle="tooltips" data-placement="bottom" title="Match any amyloid forming regions that are identical to the input sequence">
		<span class="glyphicon glyphicon-transfer"></span>
		Match
	</button>

	<table class="table" ng-if="!no_match">
		<tr>
			<th>Entry ID</th>
			<th>Protein name</th>
			<th>Matching region</th>
		</tr>
		<tr ng-repeat="match in sequence_matches">
			<td ui-sref="app.entries({entry_id: match.entry_id})">{{match.entry_id}}</td>
			<td ui-sref="app.entries({entry_id: match.entry_id})"><span class="btn btn-warning glyphicon glyphicon-eye-open"></span> <strong>{{match.protein_name}}</strong></td>
			<td ui-sref="app.entries({entry_id: match.entry_id})">{{match.region_sequence}}</td>
		</tr>
	</table>

	<div ng-if="no_match" style="text-align:right;">
		<span class="glyphicon glyphicon-remove"></span>No matches found yet
	</div>
</div>


<div id="search" ng-controller="SearchAndBrowseCtrl" class="col-sm-12">

	<h2>Search in the database
		<span class="glyphicon glyphicon-info-sign" data-toggle="tooltips" data-placement="right" title="Search by protein name, species, UniProt ID or keywords"></span>
	</h2>

	<div id="quick_search_div" class="row">

        <div class="col-xs-12 col-sm-3">
            <span class="glyphicon glyphicon-search"></span>
            <input type="text" ng-model="search_term" ng-change="perform_search()" placeholder="Search..." data-toggle="tooltips" data-placement="bottom" title="Search by protein name, species, UniProt ID, PDB ID or keywords">
        </div>

        <div class="col-xs-12 col-sm-3">
            <span class="glyphicon glyphicon-plus"></span>
            <input type="text" ng-model="search_species" placeholder="Add species filter..." data-toggle="tooltips" data-placement="bottom" title="Further filter by species (ex. homo sapiens). Only applicable when a search term is provided">
        </div>

        <div class="col-xs-12 col-sm-3">
            <span class="glyphicon glyphicon-plus"></span>
            <input type="text" ng-model="search_category" placeholder="Add category filter..." data-toggle="tooltips" data-placement="bottom" title="Further filter by categories (pathogenic, functional, prion). Only applicable when a search term is provided">
        </div>

        <div ng-if="unique_entry_ids_to_download.length > 0" class="col-xs-12 col-sm-3">
            <span class="glyphicon glyphicon-download-alt"></span>
            <button ui-sref="app.entry({entry_list: unique_entry_ids_to_download})" id="multi_download_button" class="btn btn-default" >Download selected (JSON)</button>
        </div>
    
	</div>

	<p><strong>Selected entries:</strong>
		<button class="btn btn-default" ng-repeat="entry in unique_entry_ids_to_download" ng-click="checkBoxChange(entry)">
			{{entry}} <span class="glyphicon glyphicon-remove"></span>
		</button>
	</p>

	<div id="search_div_header" ng-show="!no_search" class="row">
		<div class="col-xs-12 col-sm-2" ng-click="sortByEntry()" ng-if="a2z_entry">
			Entry <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
		</div>
		<div class="col-xs-12 col-sm-1" ng-click="sortByEntry()" ng-if="!a2z_entry">
			Entry <span class="glyphicon glyphicon-sort-by-alphabet"></span>
		</div>

		<div class="col-xs-12 col-sm-4" ng-click="sortByProtein()" ng-if="a2z_protein">
			Protein name <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
		</div>
		<div class="col-xs-12 col-sm-4" ng-click="sortByProtein()" ng-if="!a2z_protein">
			Protein name <span class="glyphicon glyphicon-sort-by-alphabet"></span>
		</div>

		<div class="col-xs-12 col-sm-3" ng-click="sortByCategory()" ng-if="a2z_category">
			Category <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
		</div>
		<div class="col-xs-12 col-sm-3" ng-click="sortByCategory()" ng-if="!a2z_category">
			Category <span class="glyphicon glyphicon-sort-by-alphabet"></span>
		</div>

		<div class="col-xs-12 col-sm-3" ng-click="sortBySpecies()" ng-if="a2z_species">
			Species <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
		</div>
		<div class="col-xs-12 col-sm-3" ng-click="sortBySpecies()" ng-if="!a2z_species">
			Species <span class="glyphicon glyphicon-sort-by-alphabet"></span>
		</div>
	</div>
	<hr>
	<div id="search_divs" ng-show="!no_search" ng-repeat="entry in searchable_entries | filter: search_term | filter: {species: search_species} | filter: {class_name: search_category} | orderBy: sorting_option" class="row">
		<div ng-if="!isEntrySelected(entry.entry_id)" class="col-xs-12 col-sm-2" >
			<span class="btn btn-default glyphicon glyphicon-plus" ng-click="checkBoxChange(entry.entry_id)"></span>
		</div>
		<div ng-if="isEntrySelected(entry.entry_id)" class="col-xs-12 col-sm-2">
			<span class="btn btn-success glyphicon glyphicon-ok" ng-click="checkBoxChange(entry.entry_id)"></span>
		</div>
		<div ui-sref="app.entries({entry_id: entry.entry_id})" class="col-xs-12 col-sm-1">{{entry.entry_id}}</div>
		<div ui-sref="app.entries({entry_id: entry.entry_id})" class="col-xs-12 col-sm-3"><span class="btn btn-warning glyphicon glyphicon-eye-open"></span> <strong> {{entry.protein_name}}</strong></div>
		<div ui-sref="app.entries({entry_id: entry.entry_id})" class="col-xs-12 col-sm-3">{{entry.class_name}}</div>
		<div ui-sref="app.entries({entry_id: entry.entry_id})" class="col-xs-12 col-sm-3"><em>{{entry.species}}</em></div>
		<div ui-sref="app.entries({entry_id: entry.entry_id})" class="col-xs-11 col-sm-push-1"><strong>Summary: </strong>{{entry.description}}</div>	</div>
</div>
