<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltips"]').tooltip();
  })
</script>


<div id="data-submission" class="row">
	<div class="col-sm-12">
	<h2>Submission form</h2>
	<form action="" method="post" class="form-horizontal">
		<div id="submission-form" class="col-sm-12 col-md-6">			

			<div class="form-group">
				<label for="protein_name">Protein name</label>
				<div class="input-group">
					<span ng-if="protein_name" class="input-group-addon alert-success">
						<span class="glyphicon glyphicon-ok"></span>
					</span>
					<span ng-if="!protein_name" class="input-group-addon alert-danger">
						<span class="glyphicon glyphicon-remove"></span>
					</span>
					<input type="text" name="protein-name" class="form-control" required ng-model="protein_name" placeholder="Ex. Nab3" data-toggle="tooltips" data-placement="bottom" title="Protein name - Required field">
				</div>
			</div>

			<div class="form-group">
				<label for="species-name">Species</label>
				<div class="input-group">
					<span ng-if="species_name" class="input-group-addon alert-success">
						<span class="glyphicon glyphicon-ok"></span>
					</span>
					<span ng-if="!species_name" class="input-group-addon alert-danger">
						<span class="glyphicon glyphicon-remove"></span>
					</span>
					<input type="text" name="species-name" class="form-control" required ng-model="species_name" placeholder="Ex. Homo sapiens" data-toggle="tooltips" data-placement="bottom" title="Species name - Required field">
				</div>
			</div>

			<div class="form-group">
				<label for="category">Classification</label>
				<div class="input-group">
					<span ng-if="category" class="input-group-addon alert-success">
						<span class="glyphicon glyphicon-ok"></span>
					</span>
					<span ng-if="!category" class="input-group-addon alert-danger">
						<span class="glyphicon glyphicon-remove"></span>
					</span>
					<span class="btn btn-default" ng-click="setClass('pathogenic')" data-toggle="tooltips" data-placement="top" title="In pathogenic amyloids the amyloid state is responsible for known diseases">Pathogenic</span>
					<span class="btn btn-default" ng-click="setClass('functional amyloid')" data-toggle="tooltips" data-placement="top" title="In functional amyloids the amyloid state confers well-described functional benefits to the organism">Functional amyloid</span>
					<span class="btn btn-default" ng-click="setClass('functional prion')" data-toggle="tooltips" data-placement="top" title="In functional prions the self-propagating prion form confers functional benefits to the organism">Functional prion</span>
					<span class="btn btn-default" ng-click="setClass('not known')" data-toggle="tooltips" data-placement="top" title="Unknown: The biological relevance of the amyloid state is yet to be elucidated">Unknown function</span>
					<span class="btn btn-default" ng-click="setClass('biologically not relevant')" data-toggle="tooltips" data-placement="top" title="Biologically not relevant: The amyloid state was observed under conditions whose biological relevance is questionable">Biologically not relevant</span>
				</div>
				<input type="text" readonly required name="category" ng-model="category">
			</div>

			<div class="form-group">
				<label for="category">Prion domain?</label>
				<div class="input-group">
					<span ng-if="prion_domain" class="input-group-addon alert-success">
						<span class="glyphicon glyphicon-ok"></span>
					</span>
					<span ng-if="!prion_domain" class="input-group-addon alert-danger">
						<span class="glyphicon glyphicon-remove"></span>
					</span>
					<span class="btn btn-default" ng-click="setPrion('True')">Prion domain</span>
					<span class="btn btn-default" ng-click="setPrion('False')">Not prion domain</span>
				</div>
				<input type="text" readonly required name="prion_domain" ng-model="prion_domain">
			</div>

			<div class="form-group">
				<label for="uniprot">Related resources</label>
				<div class="input-group">
					<span ng-if="uniprot" class="input-group-addon alert-success">
						<span class="glyphicon glyphicon-ok"></span>
					</span>
					<span ng-if="!uniprot" class="input-group-addon alert-danger">
						<span class="glyphicon glyphicon-remove"></span>
					</span>
					<input type="text" name="uniprot" class="form-control" required ng-model="uniprot" placeholder="UniProt ID, Ex. P38996" data-toggle="tooltips" data-placement="bottom" title="Species name - Required field">
				</div>
				<div class="input-group">
					<span class="input-group-addon alert-default">
						<span class="glyphicon glyphicon-option-horizontal"></span>
					</span>
					<input type="text" name="uniprot" class="form-control" ng-model="uniprot_start" placeholder="UniProt 1st residue, Ex. 1" data-toggle="tooltips" data-placement="bottom" title="Index of the first residue in the user provided sequence compared to the UniProt sequence - Optional field">
					<input type="text" name="uniprot" class="form-control" ng-model="uniprot_end" placeholder="UniProt last residue, Ex. 42" data-toggle="tooltips" data-placement="bottom" title="Index of the last residue in the user provided sequence compared to the UniProt sequence - Optional field">
				</div>
				<div class="input-group">
					<span class="input-group-addon alert-default">
						<span class="glyphicon glyphicon-option-horizontal"></span>
					</span>
					<input type="text" name="pdb" class="form-control" ng-model="pdb" placeholder="PDB ID, Ex. 3BOW" data-toggle="tooltips" data-placement="bottom" title="PDB ID - Optional field">
				</div>
				<div class="input-group">
					<span class="input-group-addon alert-default">
						<span class="glyphicon glyphicon-option-horizontal"></span>
					</span>
					<input type="text" name="pmids" class="form-control" ng-model="pmids" placeholder="PubMed IDs, Ex. 25611193" data-toggle="tooltips" data-placement="bottom" title="PubMed ID(s) - Optional field">
				</div>
			</div>

			<div class="form-group">
				<label for="mutations">Mutations</label>
				<div class="input-group">
					<span class="input-group-addon alert-default">
						<span class="glyphicon glyphicon-option-horizontal"></span>
					</span>
					<input type="text" name="mutations" class="form-control" ng-model="mutations" placeholder="Ex. C89A, S101A" data-toggle="tooltips" data-placement="bottom" title="Mutations name - Optional field">
				</div>
			</div>

			<div class="form-group">
				<label for="regions">Amyloid forming regions</label>
				<div class="input-group">
					<span class="input-group-addon alert-default">
						<span class="glyphicon glyphicon-option-horizontal"></span>
					</span>
					<input type="text" name="regions" class="form-control" ng-model="regions" placeholder="Ex. 89-105, 108-123" data-toggle="tooltips" data-placement="bottom" title="Amyloid forming regions in the provided sequence - Optional field">
				</div>
			</div>
		</div>

		<div id="submission-preview" class="col-sm-12 col-md-5 col-md-push-1">
			<div class="form-group">
				<label for="regions">Amino acid sequence</label>
				<div class="input-group">
					<textarea cols="100" rows="20" name="sequence" class="form-control" placeholder="Ex. CTRSSGSIASNYVQWYQQRPGSA" required ng-model="sequence" data-toggle="tooltips" data-placement="bottom" title="Amino acid sequence - Required field"></textarea>
				</div>
			</div>

			<input type="submit" name="submit" value="Submit" class="btn btn-default form-control" disabled>
			<div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-info-sign"></span> Submission is disabled until official release</div>
		</div>

		
	</form>
	</div>
</div>

<!-- >AP00110 Amyloid lambda 6 light chain variable region PIP, 6aJL2, mutant (Homo sapiens) uniprot=Q96JD1 pdb=5C9K pmid={ 19941869 } class='pathogenic' prion_domain=False mutations={  } regions={ }
NFMLTQPHSVSESPGKTITISCTRSSGSIASNYVQWYQQRPGSAPTTVIYEDNQRPSGVPDRFSGSIDSSSNSASLTISGLKTEDEADYYCQSYDSNNYALFGGGTQLTVLG -->