<div class="jumbotron">
  <img id="logo_img" src="//amypro.net/images/amyloid.png" alt="Amyloid structure">
  <h1>AmyPro</h1>
  <p class="lead">
    Welcome to the database of amyloid fibre-forming proteins!
  </p>
  <p><a class="btn btn-lg btn-warning" ui-sref="app.search"><span class="glyphicon glyphicon-search"></span> Start searching</a>
  <a class="btn btn-lg btn-warning" ui-sref="app.browse"><span class="glyphicon glyphicon-list-alt"></span> Start browsing</a></p>
</div>	

<div id="welcome_texts" class="row marketing" ng-controller="WelcomeCtrl">
	<div class="col-xs-12 {{text.align}}" ng-repeat="text in texts">
		<h4>{{text.title}}</h4>
		<p>
      {{text.text}}
    </p>
	</div>	
</div>

<div id="quick_report">
  <h4>AmyPro currently holds {{number_of_entries}} entries as of {{date | date}}. <a ui-sref="app.submit"><span class="glyphicon glyphicon-upload"></span> <strong>We welcome additional data submissions! </strong></a></h4>
</div>

<div class="row">
    <p class="col-sm-12">
        <strong>Reference:</strong>
        <a href="https://doi.org/10.1093/nar/gkx950" target="_blank">AmyPro: a database of proteins with validated amyloidogenic regions</a>; 
        Mihaly Varadi, Greet De Baets, Wim F. Vranken, Peter Tompa and Rita Pancsa; Nucleic Acids Res. 2017 Oct 13
    </p>
</div>
