.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Header & Footer */

nav {
  background-color: #BDBDBD;
  box-shadow: 0px 5px 10px #9E9E9E;
}

nav a, nav a:visited, #footer a {
  color: #3E2723;
}

nav a:active, nav a:hover, #footer a:hover {
  color: #FFA726;
}

.modal-header {
  background-color: #BDBDBD;
}

.modal-body {
  background-color: #EFEBE9;
}

#contactus p{
  text-align: justify;
}

.form-control, .input-group{
  margin-bottom: 6px;
}

.input-group-addon {
  color: #3E2723;
}

/* Shared */

.label-default {
  background-color: #483d8b
}

.row {
  margin: 20px 25px 0px 0px;
}

#browser tr:hover, 
#search_divs:hover,
#sequence_search tr:hover  {
  background-color: #EFEBE9;
}

#browser tr a:hover, #browser tr a:active, 
#sequence_search tr a:hover, #sequence_search tr a:active {
  color: #D84315;
  font-weight: bold;
}

#browser tr a, 
#search tr a,
#sequence_search tr a {
  color: #3E2723;
  font-weight: bold;
}

#browser td{
  vertical-align: middle;
}

#browser button {
  margin-left: 5px;
}

h2 span{
  font-size: 0.5em;
}

h2 span:hover{
  color: #D84315;
}

td {
  padding-left: 2px;
  padding-right: 2px;
}

.icon-bar {
  background-color: black;
}

/* Welcome */

.jumbotron {
  margin-top: 20px;
}

.jumbotron a {
  box-shadow: 2px 2px 2px #9E9E9E;
  margin-top: 10px;
}

.jumbotron a:hover {
  box-shadow: 4px 4px 4px #9E9E9E;
}

.text_to_left {
  text-align: left;
}

.text_to_right {
  text-align: right;
}

#welcome_texts p{
  text-align: justify;
}

#quick_report {
  text-align: center;
}

.jumbotron img {
  max-height: 150px;
}

/* Browser */

#browser th{
  text-align: center;
  padding-bottom: 5px;
}

#browser th:hover,
#search_div_header div:hover {
  color: #FFA726;
}

#quick_search_div {
  background-color: #3E2723;
  padding: 2px 0px 2px 10px;
  color: #3E2723;
  border-radius: 5px;
  margin-bottom: 5px;
}

#quick_search_div span{
  color: #FFA726;
}

#select_category_dropdown {
  padding-top: 3px;
}

/* Search */

#sequence_search textarea{
  width: 100%;
}

#quick_search_div button, #quick_search_div input{
 margin: 2px;
}

#quick_search_div li {
  padding-left: 5px;
}

#quick_search_div li:hover {
  background-color: #EFEBE9;
}

#search_divs div{
  margin-bottom: 4px;
  text-align: justify;
}

#search_div_header {
  margin-bottom: 10px;
}

/* Entries */

#related_resources td{
  padding-right: 10px;
}

#entries button{
  margin-left: 50px;
}

/* View */

#raw_view {
  padding: 20px;
}

#raw_view .sequence{
  word-break: break-all;
}

#raw_header {
  padding-left: 20px;
}